<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/api-eventos.log</file> <!-- Nombre "default" del archivo -->

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/api-eventos.%d{yyyy-MM-dd}.log</fileNamePattern> <!-- Se le agrega la fecha de cuando se crea el log al nombre del archivo -->
            <maxHistory>7</maxHistory> <!-- Solo guarda logs de los últimos 7 días -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern> <!-- Estilo de cada línea del log -->
        </encoder>
    </appender>

    <root level="INFO"> <!-- Configuración por defecto para toda la aplicación -->
        <appender-ref ref="CONSOLE"/> <!-- Envía a la consola -->
        <appender-ref ref="FILE"/> <!-- Envía al archivo -->
    </root>

    <logger name="com.juliandonati.api" level="DEBUG" additivity="false"> <!-- Configuración especial SOLO para nuestro paquete. Override del root logger. -->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework.web" level="INFO"/> <!-- Override del root logger. -->
    <logger name="org.hibernate" level="INFO"/> <!-- Override del root logger. -->

</configuration>